/***** font family *****/
body, div, p, span, i, label, input, h1, h2, h3, h4, h5, h6, button {
    font-family: "Microsoft YaHei UI", "微软雅黑";
}

.font-red{
    font-weight: bold;
    color: #c82333;
}

.font-green {
    font-weight: bold;
    color: darkgreen;
}

p.margin-top-8 {
    margin-top: 8px;
    font-style: normal;
}

.margin-left-20 {
    margin-left: 20px;
}

.treeview-menu li a {
    padding-left:30px;
}
.treeview-item .icon {
    margin-right: 10px;
}

.form-control-feedback {
    color: #c82333;
}

.toggle label {
    margin-bottom: 0px;
}

.weight-normal {
    font-weight: normal;
}
.page_number {
    border-radius: 5px;
    text-align:center;
    text-align-last:center;
}
.page_number option {
    text-align: center;
}

.form-group .data-range {
    display: inline-block;
    width: 45%;
}

table.table-info-small th {
    background-color: #eeeeee;
    text-align: right;
}

table.table-info-small th, table.table-info-small td {
    padding: 8px;
}

.chapter-title {
    text-align: center;
    padding-bottom: 30px;
    border-bottom: #ccc 1px solid;
}

td.prev_unique_code, td.next_unique_code {
    cursor: pointer;
    color: #2ca02c;
    font-weight: bold;
}